<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
  </head>
  <body>
    <h1>Wikipedia On This Day API</h1>
    <h2>Pulling interesting events happened on this day and month but in different years.</h2>        
    <p>Provides events that historically happened on the provided day and month. Supported types of events are:</p>
    <ul>
      <li>All: all of the following</li>
      <li>Selected: a list of a few selected anniversaries which occur on the provided day and month; often the entries are curated for the current year</li>
      <li>Births: a list of birthdays which happened on the provided day and month</li>
      <li>Deaths: a list of deaths which happened on the provided day and month</li>
      <li>Holidays: a list of fixed holidays celebrated on the provided day and month</li>
      <li>Others: a list of significant events which happened on the provided day and month and which are not covered by the other types yet</li>
    </ul>    
    <label for="dropdown">Filter: </label>
    <select name="" id="selection" onchange="changed()">
      <option value="all">All</option>
      <option value="selected">Selected</option>
      <option value="births">Births</option>
      <option value="deaths">Deaths</option>
      <option value="holidays">Holidays</option>
      <option value="others">Others</option>
    </select>

    <br>
    <br>

    <label for="date">Input date: </label>
    <input type="date" name="date" id="date" required onchange="changed()">   
    
    <br>
    <br> 

    <label for="noEvent">Desired number of event(s) to show:</label>
    <input type="number" min="1" name="noEvent" id="noEvent" required onchange="changed()">
    
    <br>
    <br>      
    
  </body>

  <script lang="javascript">
    let date = document.getElementById("date").value;            
    function month() {return date.split("-")[1];}
    function day() {return date.split("-")[2];}


    let selection = document.getElementById("selection").value;
    let noEvent = document.getElementById("noEvent").value;

    let response;

    const eventTypes = ["Selected", "Births", "Deaths", "Holidays", "Others"];

    const body = document.querySelector("body");

    function changed(){
      const checkDate = document.getElementById("date").value;              
      const checkMonth = date.split("-")[1];
      const checkDay = date.split("-")[2];
      const checkSelection = document.getElementById("selection").value;
      const checkNoEvent = document.getElementById("noEvent").value;

      if(checkDate=="" || !checkSelection || !checkNoEvent){
        if(!document.getElementById("noteText")){
          const noteText = document.createElement("h4");
          noteText.setAttribute("id", "noteText");
          noteText.textContent = "Enter all fields to start searching :)";
          body.appendChild(noteText);
        }
        return;
      }

      else if(document.getElementById("noteText")) document.getElementById("noteText").remove();

      if(checkDate!=date || checkSelection!=selection || checkNoEvent!=noEvent){
        if(document.querySelector("section")) document.querySelector("section").remove();
        if(!document.getElementById("loader")){
          const loader = document.createElement("div");
          loader.setAttribute("id", "loader");
          body.appendChild(loader);
        }

        if(!response){
          date = checkDate; selection = checkSelection; noEvent = checkNoEvent;
          response = pull();
        }
        else if(checkNoEvent==noEvent){
          date = checkDate; selection = checkSelection; 
          response = pull();
        }
        else{          
          noEvent = checkNoEvent;                    
          response = pull();
        }
      }
    }

    async function pull(){
      const request = "https://en.wikipedia.org/api/rest_v1/feed/onthisday/" + String(selection) + "/" + month() + "/" + day();      
      const response = await fetch(request);
      const events = await response.json();      
      console.log("pull() Done.");      
      console.log(events);
      populateEvents(events);      
    }

    function populateEvents(obj){
      let section;
      if(!document.getElementById(String(day)+String(month))){
        section = document.createElement("section"); 
        section.setAttribute("id", String(day)+String(month));
        body.appendChild(section);
      }
      else return;      
          
      switch (selection.toLowerCase()) {
        case "all":
          for(let type of eventTypes) setData(type, section, obj);
          break;        
      
        default:
          setData(selection[0].toUpperCase()+selection.slice(1), section, obj);          
          break;
      }

      if(document.getElementsByClassName("loader")) document.getElementById("loader").remove();
    }

    function setData(type, section, obj){
      const typeName = document.createElement("h2");
          typeName.textContent = type;
          section.appendChild(typeName);
          
          if(type === "Others") type = "events";

          const ul = document.createElement("ul");
          ul.setAttribute("id", type);
          section.appendChild(ul);          

          for(let i = 0; i < noEvent && i < obj[type.toLowerCase()].length; i++){
            
            const event = obj[type.toLowerCase()][i];
            const eventName = document.createElement("li");            
            eventName.textContent = event.text;
            ul.appendChild(eventName);        

            let year = event.year;
            if(!year) year = "Annually."
            
            const eventDate = document.createElement("p");
            eventDate.textContent = "Date: ";

            const dateString = document.createElement("span");
            
            if(year == "Annually."){
              switch (month()) {
                case "01":
                  dateString.textContent = "Jan " + day() + " annually";
                  break;
                case "02":
                  dateString.textContent = "Feb " + day() + " annually";
                  break;
                case "03":
                  dateString.textContent = "Mar " + day() + " annually";
                  break;
                case "04":
                  dateString.textContent = "Apr " + day() + " annually";
                  break;
                case "05":
                  dateString.textContent = "May " + day() + " annually";
                  break;
                case "06":
                  dateString.textContent = "Jun " + day() + " annually";
                  break;
                case "07":
                  dateString.textContent = "Jul " + day() + " annually";
                  break;
                case "08":
                  dateString.textContent = "Aug "  + day() + " annually";
                  break;
                case "09":
                  dateString.textContent = "Sep " + day() + " annually";
                  break;
                case "10":
                  dateString.textContent = "Oct " + day() + " annually";
                  break;
                case "11":
                  dateString.textContent = "Nov " + day() + " annually";
                  break;
                case "12":
                  dateString.textContent = "Dec "  + day() + " annually";
                  break;
              
                default:
                  dateString.textContent = "Cannot find date.";
                  break;
              }              
            }
            else dateString.textContent = new Date(year, parseInt(month())-1, day()).toDateString();
            eventDate.appendChild(dateString);
            
            ul.appendChild(eventDate);

            const link = document.createElement("a");
            link.textContent = "More detail\n";
            link.setAttribute("href", event.pages[0].content_urls.desktop.page);
            ul.appendChild(link);   
            ul.appendChild(document.createElement("p"));
            
          }

          if(type == "events") type = "Others";
    }

  </script>
</html>